{{>admin/header}}


<div class="guest-table mx-auto my-5">
    <table id="dataTable" class="display mx-auto">
    </table>

<!--    <button id="fetchList" class="btn btn-primary">Fetch</button>
    <button id="clearList" class="btn btn-warning">Clear</button>-->
    <button id="viewGuest" class="btn btn-primary">View details</button>
    <button id="editGuest" class="btn btn-warning">Edit</button>
    <button id="deleteGuest" class="btn btn-danger">Delete</button>
    <hr>
</div>

<div id="view-guest">

</div>

<div id="edit-guest">

</div>

{{>admin/footer}}